.Rproj.user
.Rhistory
.RData
.Ruserdata
figures
.DS_Store
.DS_Store
presentation_figures
analysis/presentation_figures.*
experiments/experiments_RDS_wt100
experiments/asymmetry_experiments_RDS_wt100
experiments/experiments_RDS_wt1e+06
experiments/asymmetry_experiments_RDS_wt1e+06
experiments/experiments_RDS
